body {
  margin: 0;
  padding: 0;
}

.pitch {
  margin: 0;
  position: relative;
  left: 0;
  right: 0;  
  font-size: 32pt;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.major {
  height: 12.5%;
}

.chromatic {
  height: 12.5%;
}

.major-c {
  background: #e33059;
  color: white;
  top: 0;
}
.major-d {
  background: #f7943d;
  color: black;
  top: 12.5%;
}
.major-e {
  background: #edd929;
  color: black;
  top: 9.1%;
}
.major-f {
  background: #95c631;
  color: black;
  top: 37.5%;
}
.major-g {
  background: #11826d;
  color: white;
  top: 50%;
}
.major-a {
  background: #5b37cc;
  color: white;
  top: 62.5%;
}
.major-b {
  background: #ea57b2;
  color: black;
  top: 75%;
}
.major-c2 {
  background: #e33059;
  color: white;
  top: 87.5%;
}


.chromatic-c {
  background: #e33059;
  color: white;
  top: 0;
}
.chromatic-d {
  background: #f7943d;
  color: black;
  top: 12.5%;
}
.chromatic-e {
  background: #edd929;
  color: black;
  top: 25%;
}
.chromatic-f {
  background: #95c631;
  color: black;
  top: 37.5%;
}
.chromatic-g {
  background: #11826d;
  color: white;
  top: 50%;
}
.chromatic-a {
  background: #5b37cc;
  color: white;
  top: 62.5%;
}
.chromatic-b {
  background: #ea57b2;
  color: black;
  top: 75%;
}
