body {
  margin: 0;
  padding: 0;
}

.viewportDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.pitch {
  margin: 0;
  position: relative;
  left: 0;
  right: 0;  
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.major {
  font-size: 24pt;
  height: 10vh;
}

.chromatic {
  font-size: 20pt;
  height: 7.5vh;
}

.major-c {
  background: #e33059;
  color: white;
}
.major-d {
  background: #f7943d;
  color: black;
}
.major-e {
  background: #edd929;
  color: black;
}
.major-f {
  background: #95c631;
  color: black;
}
.major-g {
  background: #11826d;
  color: white;
}
.major-a {
  background: #5b37cc;
  color: white;
}
.major-b {
  background: #ea57b2;
  color: black;
}
.major-c2 {
  background: #e33059;
  color: white;
}


.chromatic-c {
  background: #e33059;
  color: white;
}
.chromatic-cs {
  background: #f75839;
  color: white;
}
.chromatic-d {
  background: #f7943d;
  color: black;
}
.chromatic-ds {
  background: #f2b82c;
  color: black;
}
.chromatic-e {
  background: #edd929;
  color: black;
}
.chromatic-f {
  background: #95c631;
  color: black;
}
.chromatic-fs {
  background: #56a754;
  color: black;
}
.chromatic-g {
  background: #11826d;
  color: white;
}
.chromatic-gs {
  background: #3160a3;
  color: white;
}
.chromatic-a {
  background: #5b37cc;
  color: white;
}
.chromatic-as {
  background: #a347bf;
  color: white;
}
.chromatic-b {
  background: #ea57b2;
  color: black;
}
